/*
    page background:
    page1: #FFFCF5
    page2: #539BB7
    page3: #7FCAA7
    page4: #FFFCF5
    footer: #6B798D

 */

@font-face {
  font-family: 'DB Helvethaica';
  src: url('../fonts/DB Helvethaica X v3.2 2.ttf');
}

@font-face {
  font-family: 'DB Helvethaica Mon';
  src: url('../fonts/DB HelvethaicaMon X Bd v3.2 4.ttf');
}

@font-face {
  font-family: 'VAG';
  src: url('../fonts/VAG Round.ttf');
}

body {
  font-family: 'DB Helvethaica', sans-serif;
}	

h1 {
    font-family: 'DB Helvethaica Mon';
    font-size: 6em;
    line-height: 0.8em;
}

h2 {
    font-size: 2.5em;
}

h3 {
    font-size: ;
}

.left-padding {
    padding-left: 100px;
}

.tb-btn {
    border-color: #E04F5F;
    background: #E04F5F;
    color: #fff;
}

.btn {
    display: inline-block;
    padding: 4px 22px;
    margin-bottom: 0;
    font-size: 35px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.form-control {
    font-size: 28px;
    height: 60px;
}

.page {
    display: none;
    min-height: 700px;
    width: 100%;
    position: absolute;
    left: 0px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.text-white {
    color: #fff !important;
}

.vag {
    font-family: 'VAG';
    font-size: 83%;
}

/* Media Queries */
/* Portrait */
@media only screen and (max-width: 1000px) { 
    .page {
        position: static;
        height: auto !important;
    }
    h1 {
        font-size: 3.5em;
        line-height: 0.8em;
    }
    h2 {
        font-size: 2em;
    }
    .left-padding {
        padding-left: 40px;
    }
}

#page1 {
    background: #FFFCF5;
}
#page2 {
    background: #539BB7;
    padding-top: 80px;
}
#page3 {
    background: #7FCAA7;
    padding-top: 80px;
}
#page4 {
    background: #FFFCF5;
    padding-top: 80px;
    padding-bottom: 40px;
    /*border-bottom: 4px solid #fbb330;*/
}

.apply {
    background: #E04F5F;
    color: #fff;
}

footer {
    background: #6B798D;
    width: 100%;
    height: auto !important;
    min-height: 100px !important;
    padding-bottom: 20px !important;
    /*border-top: 2px dashed #fbb330;*/
}

.follow a {
    margin-right: 10px;
}

.follow a img {
    border-radius: 50%;
}