/*
    page background:
    page1: #FFFCF5
    page2: #539BB7
    page3: #7FCAA7
    page4: #FFFCF5
    footer: #6B798D

 */

@font-face {
  font-family: 'DB Helvethaica';
  src: 
    url('../fonts/sukhumvitset-text-web.ttf') format('ttf'),
    url('../fonts/sukhumvitset-text-web.woff') format('woff'),
    url('../fonts/sukhumvitset-text-web.woff2') format('woff2');
}

@font-face {
  font-family: 'DB Helvethaica Mon';
  src: url('../fonts/BoonTook-Ultra.ttf');
}

@font-face {
  font-family: 'VAG';
  src: url('../fonts/VAG Round.otf');
}

body {
  font-family: 'DB Helvethaica', sans-serif;
}	

h1 {
    font-family: 'DB Helvethaica';
    font-size: 4em;
    line-height: 0.8em;
    font-weight: 900;
}

h2 {
    font-size: 2.5em;
}

h3 {
    font-size: ;
}

.fwTitle {
    font-size: 3em;
    line-height: 1em;
}

.left-padding {
    padding-left: 100px;
}

.tb-btn {
    border-color: #E04F5F;
    background: #E04F5F;
    color: #fff;
}

.btn {
    display: inline-block;
    padding: 4px 22px;
    margin-bottom: 0;
    font-size: 30px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.form-control {
    font-size: 19px;
    height: 50px;
}

.page {
    display: none;
    min-height: 700px;
    width: 100%;
    position: absolute;
    left: 0px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.text-white {
    color: #fff !important;
}

.vag {
    font-family: 'DB Helvethaica';
    font-size: 100%;
}

.learnMore {
    position: absolute;
    bottom: calc(100px + 5%);
    width: 100%;
    text-align: center;
}

.lead {
    font-size: 26px;
}

/* Media Queries */
/* Portrait */
@media only screen and (max-width: 1000px) { 
    .page {
        position: static;
        height: auto !important;
    }
    h1 {
        font-size: 2.2em;
        line-height: 1em;
    }
    h2 {
        font-size: 2em;
    }
    .left-padding {
        padding-left: 20px;
    }
    .learnMore {
        position: static;
        bottom: 10%;
        width: 100%;
        text-align: center;
    }
    .fwTitle {
        font-size: 3.2em;
    }
    .lead {
        font-size: 22px;
    }
    ul.lead {
        padding-left: 5px;
    }
    #customOl {
        padding-left: 40px !important;
    }
}

#customOl {
    padding-left: 80px;
}

#page1 {
    background: #fff;
}
#page2 {
    background: #539BB7;
    padding-top: 80px;
}
#page3 {
    background: #7FCAA7;
    padding-top: 80px;
}
#page4 {
    background: #FFFCF5;
    padding-top: 80px;
    padding-bottom: 40px;
    /*border-bottom: 4px solid #fbb330;*/
}

.apply {
    background: #E04F5F;
    color: #fff;
}

footer {
    background: #6B798D;
    width: 100%;
    height: auto !important;
    min-height: 100px !important;
    padding-bottom: 10px !important;
    margin-top: 70px;
    padding-top: 10px !important;
    /*border-top: 2px dashed #fbb330;*/
}

.tb-orange{
    color: #2bace2;
}

.follow a {
    margin-right: 10px;
}

.follow a img {
    border-radius: 50%;
}

.text-muted {
    color: #4a4a4a !important;
}

#page-how-it-works {
    padding: 20px 0px;
}

.bg-info {
    margin-top: 50px;
    margin-bottom: 30px;
}

.mark, mark {
    background: #FFE585;
    padding: 0px;
}

.stickBottom {
    position: fixed;
    bottom: 0px;
    left: 0px;
}